html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, input, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, textarea, time, mark, audio, video {
    border: 0 none;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: outside none none;
}
blockquote, q {
    quotes: none;
}
blockquote::before, blockquote::after, q::before, q::after {
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


* {
    color: #311d41;
    font-family: "Droid Sans";
    font-size: 16px;
    text-decoration: none;
}

.header {
    height: 6em;
}
.nav {
    float: right;
    padding: 2em;
    position: relative;
}

.nav a {
    font-size: 1.6em;
    margin: 0 .6em;
}
h1 {
    font-size: 2em;
    font-weight: bold;
    margin: 0 2em;
}
.content {
    display: flex;
    justify-content: space-between;
    padding: 0 4em;
}
.content .tutorial {
    height: 30em;
    overflow: hidden;
    position: relative;
    width: 60%;
}

.content .tutorial .wrapper {
    position: absolute;
    width: 200%;

}
.content .tryit {
    width: 35%;
}
.content h2 {
    font-size: 1.5em;
    margin: 1em 0 0;
}
.content p, .content u {
    font-size: 1.3em;
    margin: 1em 0 0;
}
.content u {
    font-size: 1em;
    text-decoration: underline;    
}
.content pre, .tryit {
    background: #ededed none repeat scroll 0 0;
    border: 1px solid #ababab;
    font-family: monospace;
    margin: 1em 0 0;
    padding: .4em;
}
.content ol {
    margin: 1em 0 0;
}
.content ol p {
    margin: 0 0 1em;
}

.content .tutorial .slide {
    left: 100%;
    position: absolute;
    width: 50%;
}
.content .tutorial .slide.active {
    -webkit-animation-name: slide;
    -webkit-animation-duration: .5s;
    animation-name: slide;
    animation-duration: .5s;
    left: 0;
}
.content .tutorial .slide.active.left {
    -webkit-animation-name: slideLeft;
    -webkit-animation-duration: .5s;
    animation-name: slideLeft;
    animation-duration: .5s;
    left: 0;
}
.content .tutorial .slide.rightside {
    -webkit-animation-name: slideRight;
    -webkit-animation-duration: .5s;
    animation-name: slideRight;
    animation-duration: .5s;
    left: -100%;
}
.content .tutorial .slide.leftside {
    -webkit-animation-name: slideOut;
    -webkit-animation-duration: .5s;
    animation-name: slideOut;
    animation-duration: .5s;
    left: -100%;
}
@-webkit-keyframes slide {
    from {left: 100%}
    to {left: 0}
}
@keyframes slide {
    from {left: 100%}
    to {left: 0}
}

@-webkit-keyframes slideOut {
    from {left: 0}
    to {left: 100%}
}
@keyframes slideOut {
    from {left: 0}
    to {left: 100%}
}

@-webkit-keyframes slideRight {
    from {left: 0}
    to {left: -100%}
}
@keyframes slideRight {
    from {left: 0}
    to {left: -100%}
}

@-webkit-keyframes slideLeft {
    from {left: -100%}
    to {left: 0}
}
@keyframes slideLeft {
    from {left: -100%}
    to {left: 0}
}

.slide-button {
    animation-duration: 0.5s;
    animation-name: fadeOut;
    background: #fff none repeat scroll 0 0;
    cursor: pointer;
    font-size: 5em;
    height: 100%;
    line-height: 5em;
    opacity: 0.1;
    position: absolute;
    text-align: center;
    width: 1em;
    z-index: 2;
}
.slide-button#next {
    right: 0;
}
.slide-button:hover {
    opacity: .8; 
    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: .5s;
    animation-name: fadeIn;
    animation-duration: .5s;
}
@-webkit-keyframes fadeIn {
    from {opacity: .1}
    to {opacity: .8}
}

@keyframes fadeIn {
    from {opacity: .1}
    to {opacity: .8}
}
@-webkit-keyframes fadeOut {
    from {opacity: .8}
    to {opacity: .1}
}

@keyframes fadeOut {
    from {opacity: .8}
    to {opacity: .1}
}
.tooltip {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ededed;
    border-radius: 5px;
    left: 2em;
    opacity: 0;
    padding: 0.6em;
    position: fixed;
    top: 5em;
    width: 10em;
}
.tooltip.visible {
    opacity: .9;
    -webkit-animation-name: showTooltip;
    -webkit-animation-duration: .5s;
    animation-name: showTooltip;
    animation-duration: .5s;
}
.tooltip.hidden {
    -webkit-animation-name: hideTooltip;
    -webkit-animation-duration: .5s;
    animation-name: hideTooltip;
    animation-duration: 0.5s;
}
@-webkit-keyframes showTooltip {
    from {opacity: 0}
    to {opacity: .95}
}

@keyframes showTooltip {
    from {opacity: 0}
    to {opacity: .95}
}
@-webkit-keyframes hideTooltip {
    from {opacity: .9}
    to {opacity: 0}
}

@keyframes hideTooltip {
    from {opacity: .9}
    to {opacity: 0}
}

