html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, input, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, textarea, time, mark, audio, video {
    border: 0 none;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: outside none none;
}
ul.list {
    list-style: '- ' inside;
}
.list > li {
    margin: .4em 0;
}
blockquote, q {
    quotes: none;
}
blockquote::before, blockquote::after, q::before, q::after {
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


* {
    color: #311d41;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 16px;
    text-decoration: none;
}

.header {
    height: 5em;
}
#logo {
    padding: .4em 4em;
    width: 6em;
}
.nav {
    float: right;
    padding: 2em;
    position: relative;
}

.nav a {
    font-size: 1.4em;
    margin: 0 .6em;
    color: #856f96;
}
.nav a.active, .nav a:hover {
    color: #311d41;
}
h1 {
    font-size: 2em;
    font-weight: bold;
    margin: 0 2em;
}
.content {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    width: 100%;
}

#trigger_summary {
    cursor: pointer;
    font-size: 3em;
    height: 6em;
    left: 0;
    line-height: 5em;
    position: fixed;
    text-align: center;
    top: 4em;
    width: 1.3em;
    z-index: 4;
}
#summary {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ababab;
    left: -20em;
    opacity: 0;
    padding: .4em;
    position: fixed;
    z-index: 3;
}
#summary.hidden {
    -webkit-animation-name: hideSummary;
    -webkit-animation-duration: .3s;
    animation-name: hideSummary;
    animation-duration: .3s;
}
#summary.visible {
    -webkit-animation-name: showSummary;
    -webkit-animation-duration: .3s;
    animation-name: showSummary;
    animation-duration: .3s;
    left: 4em;
    opacity: .95;
}
@-webkit-keyframes showSummary {
    from {left: -20em;}
    from {opacity: 0;}
    to {left: 4em;}
    to {opacity: .95;}
}

@keyframes showSummary {
    from {left: -20em;}
    from {opacity: 0;}
    to {left: 4em;}
    to {opacity: .95;}
}
@-webkit-keyframes hideSummary {
    from {left: 4em;}
    from {opacity: .95;}
    to {left: -20em;}
    to {opacity: 0;}
}

@keyframes hideSummary {
    from {left: 4em;}
    from {opacity: .95;}
    to {left: -20em;}
    to {opacity: 0;}
}
#summary li {
    font-size: .9em;
    line-height: 1.3em;
    margin: .1em;
    padding: .1em;
}
#summary li:hover {
    background: #ababab none repeat scroll 0 0;
    cursor: pointer;
}
#summary li:hover a {
    color: #efefef;
}
#summary a.nav_link {
    font-weight: bold;
}
.content .tutorial {
    overflow: hidden;
    position: relative;
    width: 70%;
    min-width: 62em;
}

.content .tutorial .wrapper {
    margin: 4em 0;
    text-align: justify;
}
.content hr {
    color: #e3e3e3;
    margin: 3em 0;
}
.content h2, .content h3 {
    margin: 2em 0 0;
}
.content h2 {
    font-size: 1.5em;
}
.content p, .content u {
    font-size: 1.2em;
    margin: .5em 0 0;
    line-height:1.5em;
}
.content u {
    font-size: 1em;
    text-decoration: underline;
    cursor: pointer;
}
.content a.link {
    color: #000;
    text-decoration: underline;
}
.content pre, .tryit {
    background: #ededed none repeat scroll 0 0;
    border: 1px solid #ababab;
    font-family: monospace;
    font-size: .8em;
    line-height: 1.3em;
    margin: .5em 0 0;
    padding: .2em .3em;
}
.content pre.spoiler {
    background: #311d41;
}
.content pre.spoiler.revealed {
    background: #ededed;
}
.content ol {
    margin: 1em 0 0;
}
.content ol p {
    margin: 0 0 1em;
}
.content .grey {
    background: #cbcbcb;
    padding: 0 .2em;
}
.content .tutorial .slide {
    text-align: justify;
}
.tooltip {
    background: #ededed none repeat scroll 0 0;
    border: 1px solid #ababab;
    border-radius: 5px;
    left: 2em;
    opacity: 0;
    padding: .6em;
    position: fixed;
    top: 5em;
    width: 10em;
}
.tooltip.visible {
    opacity: .9;
    -webkit-animation-name: showTooltip;
    -webkit-animation-duration: .5s;
    animation-name: showTooltip;
    animation-duration: .5s;
}
.tooltip.hidden {
    -webkit-animation-name: hideTooltip;
    -webkit-animation-duration: .5s;
    animation-name: hideTooltip;
    animation-duration: .5s;
    z-index: 0;
    display: none;
}
@-webkit-keyframes showTooltip {
    from {opacity: 0}
    to {opacity: .95}
}

@keyframes showTooltip {
    from {opacity: 0}
    to {opacity: .95}
}
@-webkit-keyframes hideTooltip {
    from {opacity: .9}
    to {opacity: 0}
}

@keyframes hideTooltip {
    from {opacity: .9}
    to {opacity: 0}
}

#chat_iframe {
    width: 100%;
    height: 30em;
}

@media screen and (max-width: 1070px) {
    * {
        font-size: 28px;
    }
    .header .nav {
        display: none;
    }
    .content .tutorial {
        height: 42em;
        width: 100%;
    }

    .content .tryit_wrapper {
        width: 0%;
        display: none;
    }
}

ul.links li {
    margin: .9em 0;
}
ul.links a {
    text-decoration: underline;
}

table.description {
    margin-top: .7em;
}
table.description, table.description th, table.description td {
    border: 1px solid #ababab;
}
table.description td, table.description th {
    padding: .4em;
}
